/*-----------------------------------------HEADER*/
header{
	.bg-gris{
		background-color: #EDEDED;
	}
	.banner-top{
		width: 100%;
	}
	.menu1{
		padding-top: 1%;
		padding-bottom: 1%;
		ul{
			list-style: none;
			padding: 0;
			li{
				text-decoration: none;
				display: inline;
				font-size: 12px;
				font-weight: bold;
				padding-right:3%;
				a{
					color: gray;
				}
			}
		}
	}
	.menu2{
		padding-top: 1%;
		button{
			font-size: 12px;
		}
		i{
			padding: 2%;
		}
		.facebook{
			color: #3b5998;
		}
		.twitter{
			color:  #55acee;
		}
		.google-plus{
			color: #dd4b39;
		}
		.envelope{
			color: #E5C91F;
		}
		.rss{
			color: #F39A19;
		}
	}
	.logo{
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.menu-banner{
		margin-left: 230px;
	}
	.navbar-inverse{
		background-color:#BF1729 !important; 
		border:none !important;
		font-size: 12px;
		li>a{
			color: #FFF !important;
		}
		.navbar-nav>.active>a{
			background-color:#BF1729 !important; 
		}
		.navbar-nav>ul>li{
			padding-left: 2%;
		}
	}
	.banner-izq, .banner-der{
		position: absolute;
		width: 100px;
	}
	.banner-izq{
		left: 0;
	}
	.banner-der{
		right: 0;
	}
	.menu-gris{
		.bg-negro{
			padding-left: 10px!important;
			padding-right: 10px!important;
			background-color: black !important;
			a{
				color: #fff !important;
			}
		}
		li{
			background-color: #EDEDED !important;
		}
		a{
			color: black !important;
			font-size: 12px;
			padding-left: 0px !important;
			padding-right: 0px !important;
			&:hover{
				background-color:transparent !important;
			}
		}
		i, img{
			padding: 0 15px;
		}
	}
	.banner-header{
		width:100%;
		margin-top: 10px;
	}
}