@mixin box{
    
    background-color: #ffffff;
    border: 2px solid #dddddd;
    padding: 1%;
    
    p, h4{
         text-align: center;
        } 
    } 

    body{
        color: black !important;
    }


  .caja{
    @include box; 
    }


h4{
    font-weight: bold !important;
    font-family: 'Oswald', sans-serif !important;
   
}

.gray{
    width: 98%;
    height: 85px;
    background-color: #f2f2f2;
    margin-left: 1%;
    margin-bottom: 1%;

}

.margen{
    padding: 15%;
}

.contorno{
    margin: 3% -3%;
    border: 0.3em solid white;
    box-shadow: 1px 3px 2px #888888;
}
    

.azul{
color: #4C65A9;
font-weight: bold;
margin-top: -2%;
}

.negro{
 color: black;
 font-weight: bold;
 font-size: 10px;
 margin-top: 5%;
}

h5{
font-family: 'Oswald', sans-serif !important;
}

.espacio{
    margin-left: 3%;
}

.red{
    background-color: red !important;
}









